@page "/counter"
@using Nexus.Interfaces
@using Nexus.Contracts.Requests
@using System.Threading
@using System.Net.Http.Headers
@inject IUserService UserService
@inject HttpClient HttpClient

<h1>Counter</h1>

<p>Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

<span>@token</span>

@code {
    private int currentCount = 0;
    private string token;

    protected override async Task OnInitializedAsync()
    {
        var request = new GetTokenRequest
        {
            Password = "dTrest22~",
            UserName = "denis"
        };
        //
        // var response = await HttpClient.GetAsync("https://dev.piggybank.pro/api/Currencies");
        //
        // token = response.IsSuccessStatusCode ? await response.Content.ReadAsStringAsync(): "oppps";

        // var response = UserService.GetAccessToken(request, CancellationToken.None);
        // token = response.IsSuccess ? response.Ok.AccessToken: "oppps";


        var response = await HttpClient.PostAsJsonAsync("https://dev.piggybank.pro/api/Tokens/Connect", request);
        token = response.IsSuccessStatusCode ? await response.Content.ReadAsStringAsync(): "oppps";

        HttpClient.DefaultRequestHeaders.Authorization = new AuthenticationHeaderValue("Bearer", "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6ImJjMGU2NzcyLTI2MWEtNDg3ZS1hZGY4LTliZjQyMjllZWYwZiIsImN1cnJlbmN5IjoiUlVCIiwibmJmIjoxNjI2MDA2NDY1LCJleHAiOjE2MjYwMDY0NjYsImlzcyI6Iklzc3VlciIsImF1ZCI6IkF1ZGllbmNlIn0.jVvlzC8c7iHwAmzFCOURZom0dSlWveLXRyrVFRk8wis");

        response = await HttpClient.GetAsync("https://dev.piggybank.pro/api/Operations");
        token = response.IsSuccessStatusCode ? await response.Content.ReadAsStringAsync(): "oppps";
    }

    private void IncrementCount()
    {
        currentCount++;


    }
}
