@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

app {
    position: relative;
    display: flex;
    flex-direction: column;
}

.main {
    flex: 1;
    max-width: 1030px;
    min-width: 300px;
    text-align: center;
    background-color: #FAFAFA;
}

.content {

}
